<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="admin">
	
<!-- 	로그인 6개월 넘으면 휴면계정전환 -->
	<update id="dormant">
		<![CDATA[
		update member set member_state='휴면' where last_login < sysdate-180 and where member_state='정상'
		]]>
	</update>
	
<!-- 	게시글 검색 -->
	<select id="search-board" parameterType="boardSearchVo" resultType="adminBoardVo">
		select * from (        
		    select rownum r, BM.* from (
		        select 
		        	B.board_no,
		            b.board_content,
		            b.board_state,
		            to_char(b.board_wdate, 'yyyy-mm-dd') board_wdate,
		            b.board_writer,
		            b.member_no,
		            b.photo,
		            M.email 
		        from board B inner join member M on B.member_no = M.member_no order by board_no) BM
		        where ${type} like '%'||#{keyword}||'%'
		       	<if test="photo==0">
		        and photo <![CDATA[>=]]> 0
		       	</if>
		       	<if test="photo==1">
		       	and photo <![CDATA[>=]]> 1
		       	</if>
		        <if test="board_state!=-1">
		        and board_state = #{board_state}
		        </if>
		        <if test="board_content!=''">
		        and board_content like '%'||#{board_content}||'%'
		        </if>
		        <if test="board_wdate!=''">
		        and board_wdate = #{board_wdate}
		        </if>
		    )
		where r between #{start} and #{finish}
	</select>
	
<!-- 	게시글검색 count -->
	<select id="search-board-count" parameterType="boardSearchVo" resultType="int">
		select count(*) from (        
		    select rownum r, BM.* from (
		        select 
		        	B.board_no,
		            b.board_content,
		            b.board_state,
		            to_char(b.board_wdate, 'yyyy-mm-dd') board_wdate,
		            b.board_writer,
		            b.member_no,
		            b.photo,
		            M.email 
		        from board B inner join member M on B.member_no = M.member_no order by board_no) BM
		        where ${type} like '%'||#{keyword}||'%'
		        <if test="photo==0">
		        and photo <![CDATA[>=]]> 0
		       	</if>
		       	<if test="photo==1">
		       	and photo <![CDATA[>=]]> 1
		       	</if>
		        <if test="board_state!=''">
		        and board_state = #{board_state}
		        </if>
		        <if test="board_content!=''">
		        and board_content like '%'||#{board_content}||'%'
		        </if>
		        <if test="board_wdate!=''">
		        and board_wdate = #{board_wdate}
		        </if>
		    )
	</select>

<!-- 	회원 검색 -->
	<select id="search-member" parameterType="adminSearchVo" resultType="memberProfileVo">
		select * from(
			select rownum r, MP.* from(
				select M.*, to_char(sysdate,'yyyy')-substr(M.member_birth,1,4)+1 age from member_member_profile M order by member_no desc) MP
				where ${type} like '%'||#{keyword}||'%'
				<if test="member_state!=''">
				and member_state=#{member_state}
				</if>
				<if test="member_gender!=''">
				and member_gender=#{member_gender}
				</if>
				<if test="member_phone!=''">
				and member_phone=#{member_phone}			
				</if>
				<if test="member_birth!=''">
				and age=#{member_birth}
				</if>		
		)
		where r between #{start} and #{finish}
	</select>
	
<!-- 	회원 검색 페이징 테스트-->
	<select id="search-member-nav" parameterType="adminSearchVo" resultType="memberProfileVo">
		select * from(
			select rownum r, MP.* from(
				select M.*, to_char(sysdate,'yyyy')-substr(M.member_birth,1,4)+1 age from member_member_profile M order by member_no desc) MP
				where ${type} like '%'||#{keyword}||'%'
				<if test="member_state!=''">
				and member_state=#{member_state}
				</if>
				<if test="member_gender!=''">
				and member_gender=#{member_gender}
				</if>
				<if test="member_phone!=''">
				and member_phone=#{member_phone}			
				</if>
				<if test="member_birth!=''">
				and age=#{member_birth}
				</if>		
		)
		where r between #{start} and #{finish}
	</select>
	
<!-- 	회원 검색 count -->
	<select id="search-member-count" parameterType="adminSearchVo" resultType="int">
		select count(*) from(
			select rownum r, MP.* from(
				select M.*, to_char(sysdate,'yyyy')-substr(M.member_birth,1,4)+1 age from member_member_profile M order by member_no desc) MP
				where ${type} like '%'||#{keyword}||'%'
				<if test="member_state!=''">
				and member_state=#{member_state}
				</if>
				<if test="member_gender!=''">
				and member_gender=#{member_gender}
				</if>
				<if test="member_phone!=''">
				and member_phone=#{member_phone}			
				</if>
				<if test="member_birth!=''">
				and age=#{member_birth}
				</if>		
		)
	</select>
	
<!-- 	신고 리스트 -->
	<select id="warning-list" parameterType="warningVo" resultType="warningVo">
		select * from(
		    select rownum r, WL.* from(
		        select
		            w.warning_no,
		            tm.email target_email,
		            tm.member_name target_name,
		            w.target_no,
		            wc.w_count,
		            pm.email pusher_email,
		            pm.member_name pusher_name,
		            w.pusher_no,
		            w.board_no,
		            w.content,
		            w.state
		        from warning W inner join member TM on W.target_no = TM.member_no 
		            inner join member PM on W.pusher_no = PM.member_no 
		            	left outer join warning_count WC on W.target_no = WC.member_no
		            order by w.warning_no desc) WL
		        where ${target_type} like '%'||#{target_keyword}||'%' and ${pusher_type} like '%'||#{pusher_keyword}||'%'
		        <if test="content != ''">
		        and content like '%'||#{content_keyword}||'%'
		        </if>
		        <if test="state=='null'">and state is null</if>
		        <if test="state=='접수'">and state = '접수'</if>
		        <if test="state=='보류'">and state = '보류'</if>
		)
		where r between #{start} and #{finish}
	</select>
	
<!-- 	신고리스트 카운트 -->
	<select id="warning-list-count" parameterType="warningVo" resultType="int">
		select count(*) from(
			select rownum r, WL.* from(
		        select
		            w.warning_no,
		            tm.email target_email,
		            tm.member_name target_name,
		            w.target_no,
		            wc.w_count,
		            pm.email pusher_email,
		            pm.member_name pusher_name,
		            w.pusher_no,
		            w.board_no,
		            w.content,
		            w.state
		        from warning W inner join member TM on W.target_no = TM.member_no 
		            inner join member PM on W.pusher_no = PM.member_no 
		            	left outer join warning_count WC on W.target_no = WC.member_no
		            order by w.warning_no desc) WL
		        where ${target_type} like '%'||#{target_keyword}||'%' and ${pusher_type} like '%'||#{pusher_keyword}||'%'
		        <if test="content != ''">
		        and content like '%'||#{content_keyword}||'%'
		        </if>
		        <if test="state=='null'">and state is null</if>
		        <if test="state=='접수'">and state = '접수'</if>
		        <if test="state=='보류'">and state = '보류'</if>
		)
	</select>
	
<!-- 	신고접수(warning_count table 신규) -->
	<insert id="warning-count-newreceipt" parameterType="int">
		insert into warning_count values(#{member_no}, 1)
	</insert>
	
<!-- 	신고접수(warning_count table 추가) -->
	<update id="warning-count-addreceipt">
		update warning_count set w_count = w_count+1 where member_no=#{member_no}
	</update> 	
	
<!-- 	신고접수(warning table 처리) -->
	<update id="warning-receipt" parameterType="int">
		update warning set state='접수' where warning_no = #{warning_no}
	</update>
	
<!-- 	신고보류 -->
	<update id="warning-hold" parameterType="int">
		update warning set state='보류' where warning_no = #{warning_no}
	</update>
	
<!-- 	warning_count member_no 신규인지 아닌지 확인 -->
	<select id="warning-check" parameterType="int" resultType="int">
		select count(*) from warning_count where member_no = #{member_no}
	</select>
	
<!-- 	정지회원 풀기(member_state 변경) -->
	<update id="cancle-suspend" parameterType="int">
		update member set member_state = '정상' where member_no = #{member_no}
	</update>
	
<!-- 	정지회원 풀기 (warning_count 테이블 member_no 삭제 ) -->
	<delete id="delete-warning-count" parameterType="int">
		delete warning_count where member_no = #{membr_no}
	</delete>
	
<!-- 	회원 정지 시키기 -->
	<update id="suspend-member" parameterType="int">
		update member set member_state = '정지' where member_no = #{member_no}
	</update>

	
</mapper>