<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="admin">
	
<!-- 	로그인 6개월 넘으면 휴면계정전환 -->
	<update id="dormant">
		<![CDATA[
		update member set member_state='휴면' where last_login < sysdate-180 and where member_state='정상'
		]]>
	</update>

<!-- 	회원 검색 -->
	<select id="search-member" parameterType="adminSearchVo" resultType="memberProfileVo">
		select * from(
			select rownum rn, M.* from
			(
				select * from member_member_profile where ${type} like '%'||#{keyword}||'%'
				<if test="member_state!=''">
				and member_state=#{member_state}
				</if>
				<if test="member_gender!=''">
				and member_gender=#{member_gender}
				</if>
				<if test="member_birth!=null">
				and member_birth=#{member_birth}
				</if>
				<if test="member_phone!=null">
				and member_phone=#{member_phone}			
				</if>
				order by member_no desc) M
			)
		where rn between #{start} and #{finish}
	</select>
	
<!-- 	회원 검색 페이징 테스트-->
	<select id="search-member-nav" parameterType="adminSearchVo" resultType="memberProfileVo">
		select * from(
			select rownum rn, M.* from
			(
				select * from member_member_profile where ${type} like '%'||#{keyword}||'%'
				<if test="member_state!=''">
				and member_state=#{member_state}
				</if>
				<if test="member_gender!=''">
				and member_gender=#{member_gender}
				</if>
				<if test="member_birth!=''">
				and member_birth=#{member_birth}
				</if>
				<if test="member_phone!=''">
				and member_phone=#{member_phone}			
				</if>
				order by member_no desc) M
			)
		where rn between #{start} and #{finish}
	</select>
	
<!-- 	회원 검색 count -->
	<select id="search-member-count" parameterType="adminSearchVo" resultType="int">
		select count(*) from(
			select rownum rn, M.* from
			(
				select * from member_member_profile where ${type} like '%'||#{keyword}||'%'
				<if test="member_state!=''">
				and member_state=#{member_state}
				</if>
				<if test="member_gender!=''">
				and member_gender=#{member_gender}
				</if>
				<if test="member_birth!=null">
				and member_birth=#{member_birth}
				</if>
				<if test="member_phone!=null">
				and member_phone=#{member_phone}			
				</if>
				order by member_no desc) M
			)
	</select>
</mapper>