<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	
	<insert id="write" parameterType="hashmap">
		<selectKey resultType="int" keyProperty="board_no" order="BEFORE">
			select board_seq.nextval as board_no from dual
		</selectKey>
		insert all
			into board(board_no, board_content, member_no, board_writer, photo) values(#{board_no}, #{board_content}, #{member_no}, #{board_writer}, #{photo})
		<if test="piclist != null">
			<foreach collection="piclist" item="pic" separator=" ">
				into bpconnect(bpconnect_seq, board_no, board_pic_no) values(getbp_seq(), #{board_no}, #{pic})
			</foreach>	
		</if>
		select * from dual
	</insert>
	
	<select id="getcontent" parameterType="int" resultType="boardDto">
		select * from board where board_no = #{board_no}
	</select>
	
 	<resultMap id="dashboardlist" type="boardDto"> 
	  <id property="board_no" column="board_no" />
	  <result property="board_content" column="board_content"/>
	  <result property="board_writer" column="board_writer"/>
	  <result property="member_no" column="member_no"/>
	  <result property="board_reply_count" column="board_reply_count"/>
	  <result property="board_state" column="board_state"/>
	  <result property="photo" column="photo"/>
		  <collection property="replylist" ofType="replyDto">
		    <id property="reply_no" column="reply_no"/>
		    <result property="reply_content" column="reply_content"/>
		    <result property="reply_writer" column="reply_writer"/>
		    <result property="writer_no" column="writer_no"/>
		    <result property="depth" column="depth"/>
		  </collection>
	</resultMap>
	
	<select id="dashboardlist" resultMap="dashboardlist" parameterType="int">
		select 
			* 
		from (
			select 
				b.*, r.reply_no, r.reply_content, r.reply_writer, r.writer_no, r.depth, 
				(select count(*) from reply where b.board_no = reply.board_no) as board_reply_count, 
				row_number() OVER (PARTITION BY b.board_no ORDER BY b.board_no) as rk
			from (
				select 
					f.friend_no 
				from 
					friend_test f where f.member_no = #{member_no} and f.friend_state = 1
				)
			inner join 
				board b
			on
				friend_no = b.member_no 
			left outer join 
				(select * from reply where depth = 0) r 
			on 
				b.board_no = r.board_no
			)
        where 
        	rk <![CDATA[<]]> 3
	</select>
	
	<select id="getphotopost" parameterType="hashmap" resultMap="dashboardlist">
		select 
			* 
		from (
			select 
				b.*, r.reply_no, r.reply_content, r.reply_writer, r.writer_no, r.depth, row_number() OVER (ORDER BY r.reply_wdate) as rk 
			from 
				(select * from board where board_no = #{board_no}) b 
			left outer join 
				(select * from reply where depth = 0) r 
			on 
				b.board_no = r.board_no) 
		where 
			rk between #{start} and #{end}
	</select>
	
</mapper>