<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="connect">

<!-- 	<update id="newsession" parameterType="">
	
	merge into connect_table
using dual on (connect_table.DT =:new.connect_table.DT)
when matched then 
            update set 
            connect_table.now_connect = :old.connect_table.now_connect + 1 ,
            connect_table.today_connect_ea = :old.connect_table.today_connect_ea + 1 ,
            connect_table.today_connect_user = :old.connect_table.today_connect_user + 1 ,
            connect_table.total_connect_ea = :old.connect_table.total_connect_ea + 1 ,
            connect_table.total_connect_user = :old.connect_table.total_connect_user + 1        
when not matched then 
            insert             
            values (
                    to_date(sysdate,'yyyy-mm-dd'),
            1,
            1,
            1,
            1,
            1
        ) -->
<!-- 	</update> -->
	
<!-- 	<update id="oldsession" parameterType="connecttableDto"> -->
	
<!-- 	</update> -->
	
<!-- 	<update id="exitsession" parameterType="connecttableDto"> -->
	
<!-- 	</update> -->
</mapper>