<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<!-- 	 셋팅 --> 
<!-- 	<settings> -->
<!-- 		<setting name="cacheEnabled" value="ture" /> -->
<!-- 		<setting name="defaultStatementTimeout" value="10000" /> -->
<!-- 	</settings> -->

<!-- 	 클래스 별칭 주기 --> 
<!-- 	<typeAliases> -->
<!-- 		<typeAlias type="com.kh.sts17.entity.MemoDto" alias="memoDto"/> -->
<!-- 	</typeAliases> -->
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.siistory.entity.BoardDto" alias="boardDto"/>
		<typeAlias type="com.kh.siistory.entity.MemberDto" alias="memberDto"/>
	</typeAliases>
</configuration>
