<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="reply">

	<!-- 댓글 입력-->
	<insert id="insertreply" parameterType="replyDto">
	    <selectKey resultType="int" keyProperty="reply_no" order="BEFORE">
	        select reply_seq.nextval reply_no from dual       
	    </selectKey>
	    <choose>
	    	<when test="super_no != 0">
	    		insert into reply(reply_no, board_no, writer_no, super_no, group_no, depth, reply_content, reply_writer) values(#{reply_no}, #{board_no}, #{writer_no}, #{super_no}, #{super_no}, 1, #{reply_content}, #{reply_writer})
	    	</when>
	    	<otherwise>
		    	insert into reply(reply_no, board_no, writer_no, group_no, depth, reply_content, reply_writer) values(#{reply_no}, #{board_no}, #{writer_no}, #{reply_no}, 0, #{reply_content}, #{reply_writer})
	    	</otherwise>
    	</choose>
	</insert>
	
	<!-- 댓글 추가하고 방금 추가한 댓글 불러와서 넘겨주기 -->
	<select id="replyviewadd" resultType="replyDto" parameterType="int">
		select * from reply where reply_no = #{no}
	</select>
	
	<!-- 해당 댓글의 답글전체 불러오기 -->
	<select id="commentview" resultType="replyDto" parameterType="map">
		select * from reply where board_no = #{board_no} and depth = 1 and super_no = #{super_no}
	</select>
	
	<!-- 해당 게시물의 댓글 5개씩 불러오기 -->
	<select id="morereply" resultType="replyDto" parameterType="map">
		select * from (select r.*, row_number() OVER (ORDER BY r.reply_no) as rk from (select * from reply where board_no = #{board_no} and depth = 0) r) where rk between #{start} and #{end}
	</select>
</mapper>
