<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="replylike">

<insert id="insert" parameterType="replylikeDto">
 insert into reply_like values (
 #{member_no},
 #{reply_no}


 )
</insert>


<delete id="delete" parameterType="replylikeDto">
delete reply_like where
member_no =  #{member_no} and
reply_no = #{reply_no}
</delete>

</mapper>