<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="warning">
 <insert id="insert" parameterType="warningDto">
	insert into warning values 
	(
	warning_seq.nextval,
	#{target_no},
	#{pusher_no},
	#{board_no},
	#{content},
	sysdate,
	null
	
	)

 </insert>


</mapper>